* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    margin-top: 100px;
}

.block{
    display: block;
}

.container{
    display: block;
    margin-top: 80px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: #151d27;
    padding: 32px;
    border-radius: 20px;
}

.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    margin-top: 45px;
    max-width: 100%; 
    padding: 8px;
}

label{
    font-weight: bold;
    display: block;
}

#mensagem {
    resize: none;
    height: 120px;
}

input,
textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

button{
    width: 100%;
    border: none;
    font-weight: bold;
    padding: 8px;
    color: #fff;
    background-color: rgba(0,153,204,.7);
    cursor: pointer;
}

.container div{
    margin: 8px
}